
# Setup CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "X-PINGOTHER, Content-Type"
</IfModule>

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    # Profile lookup sites
    RewriteRule ^get/profile/(.*)$ src/profile-lookup.php?id=$1 [NC,L]
    RewriteRule ^session/validate$ src/validate-session.php [NC,L]
    RewriteRule ^session/create$ src/create-session.php [NC,L]
    RewriteRule ^session/register$ src/request-ciudadania.php [NC,L]
    RewriteRule ^session/verify$ src/account-verification.php [NC,L]
    
    RewriteRule ^render/carnet/script.js$ src/render/carnet/script.js [NC,L]
    RewriteRule ^render/carnet/style.css$ src/render/carnet/style.css [NC,L]
    RewriteRule ^render/carnet/front.png$ src/render/carnet/front.png [NC,L]
    RewriteRule ^render/carnet/([a-zA-Z0-9]{32})$ src/render/carnet/index.php?token=$1 [NC,L]


</IfModule>



ErrorDocument 404 /index.php?web=404
