
# Setup CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "X-PINGOTHER, Content-Type"
</IfModule>

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    # Profile lookup sites
    RewriteRule ^get/profile/(.*)$ src/profile-lookup.php?id=$1 [NC,L]
    RewriteRule ^session/validate$ src/validate-session.php [NC,L]
    RewriteRule ^session/create$ src/create-session.php [NC,L]
    RewriteRule ^session/register$ src/request-ciudadania.php [NC,L]
    

</IfModule>



ErrorDocument 404 /index.php?web=404
