
# Setup CORS
SetEnvIf Origin ^(https?://.+\.cdecountry\.es(?::\d{1,5})?)$   CORS_ALLOW_ORIGIN=$1
Header append Access-Control-Allow-Origin  %{CORS_ALLOW_ORIGIN}e   env=CORS_ALLOW_ORIGIN
Header merge  Vary "Origin"

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    # Static sites
    RewriteRule ^mapa$ index.php?web=mapa [NC,L]
    RewriteRule ^tv$ index.php?web=tv [NC,L]

    RewriteRule ^frames/CarnetRender/(.*)$ frames/CarnetRender/index.php?cdec_id=$1 [NC,L]
    RewriteRule ^frames/CarnetRender(.*)$ index.php?web=error-404 [NC,L]


    # Press sites
    RewriteRule ^press/post-editor index.php?web=post-editor [QSA,NC,L]
    RewriteRule ^press/([^/]+)/([^/]+)$  index.php?web=post&entryid=$1 [NC,L]
    RewriteRule ^press/(.*)$  index.php?web=press&pageid=$1 [NC,L]
    RewriteRule ^press  index.php?web=press [NC,L]

    # Account sites
    RewriteRule ^logout$ index.php?web=logout [NC,L]
    RewriteRule ^login$ index.php?web=login [NC,L]

    RewriteRule ^press/(.*)$ index.php?web=press&page=$1 [NC,L]
    RewriteRule ^press/(.*)/(.*)$ index.php?web=press-article&id=$1&title=$2 [NC,L]
    RewriteRule ^press index.php?web=press [NC,L]
   
    RewriteRule ^profile/(.*)$ index.php?web=profile&cid=$1 [NC,L]
    RewriteRule ^profile index.php?web=profile [NC,L]

    RewriteRule ^elections index.php?web=elections [NC,L]
    
    RewriteRule ^cuenta/restablecer$ index.php?web=password-request [NC,L]
    RewriteRule ^cuenta/ajustes$ index.php?web=account-settings [NC,L]
    RewriteRule ^cuenta/pendiente$ index.php?web=ciudadania-aceptada [NC,L]
    RewriteRule ^ciudadania$ index.php?web=ciudadania-request [NC,L]

    # DynamicSite
    RewriteRule ^dynamic/$ sites/home.php [NC,L]
    RewriteRule ^dynamic/tv$ sites/tv.php [NC,L]
    RewriteRule ^dynamic/mapa$ sites/mapa.php [NC,L]
    RewriteRule ^dynamic/elections$ sites/elections.php [NC,L]
    RewriteRule ^dynamic/login$ sites/login.php [NC,L]
    RewriteRule ^dynamic/press$ sites/press.php [NC,L]
    RewriteRule ^dynamic/press/(.*)$ sites/press.php?page=$1 [NC,L]
    RewriteRule ^dynamic/press/(.*)/(.*)$ sites/press-article.php?id=$1&title=$2 [NC,L]
    RewriteRule ^dynamic/profile$ sites/profile.php [NC,L]
    RewriteRule ^dynamic/profile/(.*)$ sites/profile.php?cid=$1 [NC,L]
    RewriteRule ^dynamic/ciudadania$ sites/ciudadania-request.php [NC,L]
    RewriteRule ^dynamic/cuenta/restablecer$ sites/password-request.php [NC,L]
    RewriteRule ^dynamic/cuenta/ajustes$ sites/account-settings.php [NC,L]

</IfModule>



ErrorDocument 404 /index.php?web=error-404
